.hero-home {
    background-image: url('/assets/images/hero/hero-home.jpeg');
}

.hero-menu {
    background-image: url('/assets/images/hero/hero-menu.jpeg'); 
}

.hero-inquiry {
    background-image: url('/assets/images/hero/stone-background.jpeg'); 
}