.strikethrough-title {
  display: table;
  white-space: nowrap;
}
.strikethrough-title:before,
.strikethrough-title:after {
  border-top: 1px solid grey;
  content: "";
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 35%;
}
.strikethrough-title:before {
  right: 1%;
}
.strikethrough-title:after {
  left: 1%;
}
